:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    animation: bg-animation 10s infinite;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

  }
  
  input{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
.language{
    display: flex;
    flex-direction: row;
}
 
  
  
    
  @-webkit-keyframes bg-animation {
    0% {
      background-color: rgb(198, 40, 40);
    }
    15% {
      background-color: rgb(254, 227, 146);
    }
    30% {
      background-color: rgb(117, 191, 117);
    }
    45% {
      background-color: rgb(181, 181, 255);
    }
    60% {
      background-color: rgb(205, 105, 205);
    }
    75% {
      background-color: pink;
    }
    90% {
      background-color: rgb(220, 115, 162);
    }
    100% {
      background-color: rgb(223, 111, 111);
    }
  }
    
  